:root {
  --blue-color: #3772ff;
  --green-color: #36d6ad;
  --coral-color: #fc7071;
  --cream-color: #fcf0e3;
  --gray-color: #737380;
  --light-gray-color: #bcbcbc;
  --light-gray-background-color: #f6f6f6;
  --primary-font: 'Poppins', sans-serif;
  --button-color: #fc7071;
  --button-hover-color: #ff9d9e;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}

/* HEADER */

.button-logout {
  border: none;
  background: none;
}

/* INITIAL PAGE */

.container {
  height: 57.313rem;
}

.initial-page {
  background-image: url('./assets/background-top.svg'),
    url('assets/footer-img.svg'), url('./assets/background-right.svg');

  background-position: top left, center 90%, right 40%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, 16rem, 20%;
  background-color: var(--blue-color);
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  gap: 4rem;
  padding-bottom: 6rem;
  list-style: none;
}

.container-main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

.container-main h1 {
  font-size: 1.625rem;
}

.container-main p {
  padding: 0rem 5rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-container button {
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: 11.25rem;
  height: 2.5rem;
  background-color: var(--button-color);
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

button:hover,
button:focus {
  background-color: var(--button-hover-color);
}

/* REGISTER-PAGE */

.register-page {
  background-color: #ffffff;
  height: 57.313rem;
  background-image: url('./assets/paws.svg'), url('./assets/background-top.svg'),
    url('./assets/background-left.svg');

  background-position: top right, top left, left 90%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 50% 30%, contain, 20%;
}

.register-page-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.register-page-p p {
  color: var(--blue-color);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.register-form label {
  color: var(--gray-color);
}

.register-form input {
  background-color: var(--light-gray-background-color);
  color: var(--blue-color);
  height: 2.5rem;
  border-radius: 0.375rem;
  border: none;
  text-align: center;
  font-size: 0.75rem;
  min-width: 19.5rem;
}

.register-form textarea {
  background-color: var(--light-gray-background-color);
  color: var(--blue-color);
  height: 3.5rem;
  resize: none;
  border-radius: 0.375rem;
  border: none;
  text-align: justify;
  font-size: 0.75rem;
  min-width: 19.5rem;
  padding: 0.5rem;
}

.register-form p {
  color: var(--button-color);
}

/* LOGIN PAGE */

.forgotten-password {
  color: var(--coral-color);
  font-size: 0.75rem;
  text-decoration: underline;
  background-color: #ffffff;
  border: none;
  margin-bottom: 1rem;
}

/* PROTECTED HOME PAGE */

.home-page-container {
  background-image: url('./assets/background-top.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
  font-size: 1rem;
}

.home-page-container-title {
  color: var(--blue-color);
  text-align: center;
  height: 6rem;
}

.pets-container {
  display: flex;
  color: var(--blue-color);
  flex-direction: column;
  gap: 1rem;
}

.pet-card {
  background-color: var(--light-gray-background-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 12.25rem;
  gap: 0.5rem;
}

.pet-card img {
  width: 9.25rem;
  height: 9.25rem;
  border-radius: 6px;
}

.pet-card-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.pet-card-texts h2 {
  color: var(--blue-color);
  font-weight: 700;
  margin-bottom: 0.7rem;
}

.pet-card-texts-age {
  text-align: left;
  color: var(--gray-color);
  font-size: 0.875rem;
}

.pet-card-texts-description {
  text-align: left;
  color: var(--gray-color);
  font-size: 0.875rem;
  margin-bottom: 1.3rem;
}

/* .pet-card-texts-location {
  text-align: left;
  color: var(--blue-color);
  font-size: 0.75rem;
  margin-bottom: 0.3rem;
} */

.pet-card-texts-contact {
  text-align: left;
  color: var(--gray-color);
  font-size: 0.725rem;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact-link img {
  height: 1.125rem;
  width: 1.125rem;
}

.button-click-here {
  background: none;
  border: none;
  text-align: left;
  display: inline-flex;
  gap: 0.5rem;
}

/* PROTECTED CONTACT PAGE */

.contact-form-container {
  background-color: var(--light-gray-background-color);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact-form label {
  color: var(--blue-color);
  font-weight: bold;
}

.contact-form input {
  color: var(--gray-color);
  font-size: 0.875rem;
  border: none;
  border-radius: 6px;
  text-align: justify;
  padding: 1rem 0 1rem 1rem;
}

.contact-form textarea {
  color: var(--gray-color);
  font-size: 0.875rem;
  border: none;
  border-radius: 6px;
  text-align: justify;
  padding: 1rem 0 1rem 1rem;
  /* height: 4rem; */
  resize: none;

  min-width: 16.938rem;
}

.button-contact-container {
  padding: 1rem;
}

.contact-form p {
  color: var(--button-color);
  text-align: center;
  font-size: 0.875rem;
}

/* FOOTER */

.footer {
  background-color: var(--blue-color);
  height: 6.5rem;
  width: 100%;
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
